<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="A personal website for Hrishikesh Ingle. Contains all his games for you to play and information for you to learn about him.">

    <link rel="icon" type="image/png" href="/website/images/favicomatic/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/website/images/favicomatic/favicon-16x16.png" sizes="16x16"/>

    <title>Hrishi's Website</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap" rel="stylesheet">
    <link href="/website/index.css" rel="stylesheet">
    <link href="/admin/index.css" rel="stylesheet">
    <link href="/website/sidebar/sidebarstyles.css" rel="stylesheet">
    <link href="/website/navbar/navbar.css" rel="stylesheet">
    <link href="/website/styles/fonts.css" rel="stylesheet">
    <link href="/website/styles/fader.css" rel="stylesheet">

    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>

    <!-- <script src="/website/navbar/navbarscript.js" defer></script> -->
    <script src="/website/sidebar/sidebarscript.js" defer onload="onLoad('/admin')"></script>
    <script src="/website/styles/fonts.js" defer></script>

</head>
<body>
<div id="sidebar-div"></div>
<div id="content">
    <div id="admin-welcome">
        <div class="section-title">
            <div></div>
            <h1>Welcome to the Admin Page</h1>
        </div>
    </div>

</div>
</body>
</html>
