<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="site-head">
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="/website/images/favicomatic/favicon-32x32.png" sizes="32x32"/>
  <link rel="icon" type="image/png" href="/website/images/favicomatic/favicon-16x16.png" sizes="16x16"/>

  <title>Hrishi's Website</title>

  <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap" rel="stylesheet">

  <link href="/website/sidebar/sidebarstyles.css" rel="stylesheet">
  <link href="/website/styles/fonts.css" rel="stylesheet">
  <link href="/website/navbar/navbar.css" rel="stylesheet">
  <link href="/website/styles/fader.css" rel="stylesheet">

  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>

</th:block>
</html>
