<!DOCTYPE html>
<!--Code by Divinector - divinectorweb.com-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="A personal website for Hrishikesh Ingle. Contains all his games for you to play and information for you to learn about him.">

    <link rel="icon" type="image/png" href="/website/images/favicomatic/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/website/images/favicomatic/favicon-16x16.png" sizes="16x16"/>

    <title>Hrishi's Website</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap" rel="stylesheet">
    <link href="/website/index.css" rel="stylesheet">
    <link href="/website/sidebar/sidebarstyles.css" rel="stylesheet">
    <link href="/website/navbar/navbar.css" rel="stylesheet">
    <link href="/website/styles/fonts.css" rel="stylesheet">
    <link href="/website/styles/fader.css" rel="stylesheet">

    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>

    <!-- <script src="/website/navbar/navbarscript.js" defer></script> -->
    <script src="/website/sidebar/sidebarscript.js" defer onload="onLoad()"></script>
    <script src="/website/index/welcomscript.js" defer></script>
    <script src="/website/index/gallery.js" defer></script>
    <script src="/website/styles/fonts.js" defer></script>


</head>
<body>

<svg id="fader"></svg>
<script>
    if (window.AnimationEvent) {
        const fader = document.getElementById('fader');
        fader.classList.add('fade-out');
    }
</script>

<!-- Must include this and the sidebarscript.js for the styles to appear. Include in every file -->
<div id="sidebar-div"></div>

<div id="content">
    <div id="welcome">
        <svg width="100%">
            <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" id="welcome-text">Welcome to Hrishi's
                Life
            </text>
        </svg>
    </div>
    <div id="hey">
        <div class="section-title">
            <div></div>
            <h1>HEY THERE!!</h1>
        </div>
        <div id="hey-content">
            <div id="hey-img">
                <img src="/website/images/Me.png" alt="Whats good"/>
            </div>
            <div id="hey-text">
                <p>
                    Welcome to my fun little <span style="color: cornflowerblue" class="jump">playground,</span>
                    <strong style="color: deepskyblue">Hrishi's Life!</strong> My name is
                    <span style="color: orange;" class="hover-font">Hrishikesh Ingle</span> and I am an undergraduate
                    student
                    at <span style="color: red; --data-url: url(/website/images/WisconsinLogo.png) 16 15" class="hover-cursor">UW-Madison</span>
                    studying Computer
                    Science. Join me as I explore the different wonders of <span style="color: hotpink"
                                                                                 class="glow hover-font">life</span>
                    while you experience about my <span style="color: saddlebrown" class="sink">journey</span> and the
                    things I have learned along the way.
                    On this website, you will find my <span style="color: darkgreen" class="jump">projects,</span> <span
                        style="color: darkgoldenrod" class="jump">games,</span>
                    <span style="color: darkred" class="jump">my hobbies,</span> and <span style="color: darkslateblue"
                                                                                           class="jump">more!</span>
                    To navigate this site, you can use the <span style="color: darkorange"
                                                                 class="hover-font">sidebar</span> on the left or the
                    <span style="color: darkorchid" class="hover-font">navbar</span> on the top.
                    In the future, more features will be added to this website, such as accounts and chatbots, so stay
                    tuned!
                </p>
            </div>
        </div>
    </div>
    <div id="explore">
        <div class="section-title">
            <h1>Explore</h1>
        </div>
        <div class="projects-display">
            <div class="explore-display-title">
                <a>Projects</a>
            </div>
            <div class="gallery">
                <div class="gallery-slides a0">
                    <div class="gallery-slide">
                        <a th:href="@{/projects#pixel wars}">
                            <img src="https://img.itch.zone/aW1nLzEyNTA0MDcyLnBuZw==/180x143%23c/vo4U2U.png"
                                 alt="Game 1">
                            <p><strong>Pixel Wars</strong></p>
                        </a>
                    </div>
                    <div class="gallery-slide">
                        <a th:href="@{/projects#chess}">
                            <img src="https://img.itch.zone/aW1nLzEyNTEzOTAzLnBuZw==/315x250%23c/%2Fy5KXR.png"
                                 alt="Game 2">
                            <p><strong>Chess</strong></p>
                        </a>
                    </div>
                    <div class="gallery-slide">
                        <a th:href="@{/projects#universal empire}">
                            <img src="https://img.itch.zone/aW1nLzEyNTE3MTczLnBuZw==/315x250%23c/SZuPrM.png"
                                 alt="Game 3">
                            <p><strong>Universal Empire</strong></p>
                        </a>
                    </div>
                    <div class="gallery-slide">
                        <a th:href="@{/projects#ball dodge}">
                            <img src="https://img.itch.zone/aW1nLzEyNTE3MjMwLnBuZw==/315x250%23c/2qqLZt.png"
                                 alt="Game 4">
                            <p><strong>Ball Dodge</strong></p>
                        </a>
                    </div>
                </div>
                <button class="button-left arrow" onclick="galleryChange(-1)"><</button>
                <button class="button-right arrow" onclick="galleryChange(1)">></button>
            </div>
        </div>
        <div class="discord-display">
            <div class="discord-display-iframe">
                <iframe src="https://discord.com/widget?id=688211723240341544&theme=dark" width="100%" height="500"
                        allowtransparency="true" frameborder="0"
                        sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
            </div>

            <div class="explore-display-title">
                <a href="https://discord.gg/m2vUSwPdTc" target="_blank">Discord</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
