<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{website/header :: site-head}"></th:block>
    <link href="/website/login/login.css" rel="stylesheet">
    <script src="/website/projects/loadProjects.js" defer onload="onLoadProjects()"></script>
</head>
<body>

<svg id="fader"></svg>
<script>
    if (window.AnimationEvent) {
        const fader = document.getElementById('fader');
        fader.classList.add('fade-out');
    }
</script>
<div th:replace="~{website/sidebar :: site-sidebar}"></div>

<div id="content">
    <div id="login-div-container">
        <div id="login-div">
            <form th:action="@{/accounts/login}" method="post">
                <h1>Login</h1>
                <label>
                    <input id="user-input" type="text" name="username" placeholder="Username" spellcheck="false">
                </label>
                <label>
                    <input id="pass-input" type="password" name="password" placeholder="Password" minlength="5" maxlength="20">
                </label>
                <button id="login-button" type="submit">Login</button>
                <a th:href="@{/signup}">Don't have an account? Sign up here.</a>
            </form>
        </div>
    </div>
</div>

</body>
</html>
