<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="~{website/header :: site-head}"></th:block>
    <link href="/website/projects/projects.css" rel="stylesheet">
    <script src="/website/projects/loadProjects.js" defer onload="onLoadProjects()"></script>
</head>
<body>

<svg id="fader"></svg>
<script>
    if (window.AnimationEvent) {
        const fader = document.getElementById('fader');
        fader.classList.add('fade-out');
    }
</script>

<!-- Must include this and the sidebarscript.js for the styles to appear. Include in every file -->

<div th:replace="~{website/sidebar :: site-sidebar}"></div>

<div id="content">
    <div id="games">
        <div class="section-title">
            <h1>Games</h1>
        </div>
        <div class="current-project">
            <div id="project-game-display">
                <div class="click-to-start">
                    <img id="thumbnail" src="https://i.ytimg.com/vi/2ZU2Qn0A5xY/maxresdefault.jpg" alt="Project Image">
                    <button onclick="clickToStart()">Click To Start</button>
                </div>
            </div>
            <span id="project-title">-</span>
            <a id="repo_link" href="" target="_blank">
                View Project Repository
            </a>
            <span id="project-description">-</span>
        </div>

        <div id="project-links" class="middle"></div>
    </div>

    <div id="libraries">
        <div class="section-title">
            <h1>Libraries</h1>
        </div>
        <div id="library-links" class="middle"></div>
    </div>
</div>

</body>
</html>
