<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <link rel="icon" type="image/png" href="/website/images/favicomatic/favicon-32x32.png" sizes="32x32"/>
  <link rel="icon" type="image/png" href="/website/images/favicomatic/favicon-16x16.png" sizes="16x16"/>

  <title>Hrishi's Website</title>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap" rel="stylesheet">
  <link href="/website/login/login.css" rel="stylesheet">
  <link href="/website/sidebar/sidebarstyles.css" rel="stylesheet">
  <link href="/website/styles/fonts.css" rel="stylesheet">
  <link href="/website/navbar/navbar.css" rel="stylesheet">
  <link href="/website/styles/fader.css" rel="stylesheet">

  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>

  <script src="/website/navbar/navbarscript.js" defer></script>
  <script src="/website/sidebar/sidebarscript.js" defer onload="onLoad()"></script>

</head>
<body>

<svg id="fader"></svg>
<script>
  if (window.AnimationEvent) {
    const fader = document.getElementById('fader');
    fader.classList.add('fade-out');
  }
</script>

<!-- Must include this and the sidebarscript.js for the styles to appear. Include in every file -->
<div id="sidebar-div"></div>

<div id="content">
  <div id="login-div-container">
    <div id="login-div">
      <form th:action="@{/accounts/register}" method="post">
        <h1>Sign Up</h1>
        <label>
          <input id="user-input" type="text" name="name" placeholder="Name" spellcheck="false" required>
        </label>
        <label>
          <input id="email-input" type="email" name="email" placeholder="Email" spellcheck="false" required>
        </label>
        <label>
          <input id="pass-input" type="password" name="password" placeholder="Password" minlength="5" maxlength="30" required>
        </label>
        <label>
          <input id="pass-check" type="password" placeholder="Confirm Password" minlength="5" maxlength="30" required>
        </label>
        <button id="login-button" type="submit">Login</button>
        <a th:href="@{/login}">Have an account? Login here.</a>
      </form>
    </div>
  </div>
</div>

</body>
</html>
