<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{website/header :: site-head}"></th:block>
  <link href="/website/login/login.css" rel="stylesheet">
</head>
<body>

<svg id="fader"></svg>
<script>
  if (window.AnimationEvent) {
    const fader = document.getElementById('fader');
    fader.classList.add('fade-out');
  }
</script>

<div th:replace="~{website/sidebar :: site-sidebar}"></div>

<div id="content">
  <div id="login-div-container">
    <div id="login-div">
      <form th:action="@{/accounts/register}" method="post" th:object="${userRegistrationDto}">
        <h1>Sign Up</h1>
        <label>
          <input id="name-input" type="text" name="name" placeholder="Name" spellcheck="false" required>
        </label>
        <label>
          <input id="user-input" type="text" name="username" placeholder="Username" spellcheck="false" required>
        </label>
        <label>
          <input id="email-input" type="email" name="email" placeholder="Email" spellcheck="false" required>
        </label>
        <label>
          <input id="pass-input" type="password" name="password" placeholder="Password" minlength="5" maxlength="30" required>
        </label>
        <label>
          <input id="pass-check" type="password" placeholder="Confirm Password" minlength="5" maxlength="30" required>
        </label>
        <button id="login-button" type="submit">Sign Up</button>
        <a th:href="@{/login}">Have an account? Login here.</a>
      </form>
    </div>
  </div>
</div>

</body>
</html>
